# Environment
.env

# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local data
data/
*.db
docker/mongodb_data/

# Model / ML artifacts
# models/
artifacts/

# Secrets
*.pem
*.key